--- u-boot-2026.01.orig/configs/rock-pi-4-rk3399_defconfig	2026-01-05 21:49:22.000000000 +0100
+++ u-boot-2026.01/configs/rock-pi-4-rk3399_defconfig	2026-02-20 22:19:46.405180702 +0100
@@ -76,7 +76,7 @@ CONFIG_REGULATOR_RK8XX=y
 CONFIG_PWM_ROCKCHIP=y
 CONFIG_RAM_ROCKCHIP_LPDDR4=y
 CONFIG_SCSI=y
-CONFIG_BAUDRATE=1500000
+CONFIG_BAUDRATE=115200
 CONFIG_DEBUG_UART_SHIFT=2
 CONFIG_SYS_NS16550_MEM32=y
 CONFIG_ROCKCHIP_SPI=y
