--- u-boot-2022.10.orig/configs/rock-pi-4c-rk3399_defconfig	2022-10-03 21:25:32.000000000 +0200
+++ u-boot-2022.10/configs/rock-pi-4c-rk3399_defconfig	2022-12-06 13:45:16.410352759 +0100
@@ -60,7 +60,7 @@ CONFIG_REGULATOR_RK8XX=y
 CONFIG_PWM_ROCKCHIP=y
 CONFIG_RAM_RK3399_LPDDR4=y
 CONFIG_DM_RESET=y
-CONFIG_BAUDRATE=1500000
+CONFIG_BAUDRATE=115200
 CONFIG_DEBUG_UART_SHIFT=2
 CONFIG_SYSRESET=y
 CONFIG_USB=y
