--- u-boot-2022.10.orig/configs/rock-pi-4-rk3399_defconfig	2022-10-03 21:25:32.000000000 +0200
+++ u-boot-2022.10/configs/rock-pi-4-rk3399_defconfig	2022-12-25 06:25:34.169217143 +0100
@@ -4,7 +4,8 @@ CONFIG_COUNTER_FREQUENCY=24000000
 CONFIG_ARCH_ROCKCHIP=y
 CONFIG_SYS_TEXT_BASE=0x00200000
 CONFIG_NR_DRAM_BANKS=1
-CONFIG_ENV_OFFSET=0x3F8000
+CONFIG_ENV_OFFSET=-0x20000
+CONFIG_ENV_SIZE=0x20000
 CONFIG_DEFAULT_DEVICE_TREE="rk3399-rock-pi-4b"
 CONFIG_ROCKCHIP_RK3399=y
 CONFIG_TARGET_EVB_RK3399=y
@@ -60,7 +61,7 @@ CONFIG_REGULATOR_RK8XX=y
 CONFIG_PWM_ROCKCHIP=y
 CONFIG_RAM_RK3399_LPDDR4=y
 CONFIG_DM_RESET=y
-CONFIG_BAUDRATE=1500000
+CONFIG_BAUDRATE=115200
 CONFIG_DEBUG_UART_SHIFT=2
 CONFIG_SYSRESET=y
 CONFIG_USB=y
