--- u-boot-2023.07.02.orig/configs/rock-pi-4c-rk3399_defconfig	2023-07-11 17:20:44.000000000 +0200
+++ u-boot-2023.07.02/configs/rock-pi-4c-rk3399_defconfig	2023-09-29 15:54:16.927583546 +0200
@@ -67,7 +67,7 @@ CONFIG_REGULATOR_PWM=y
 CONFIG_REGULATOR_RK8XX=y
 CONFIG_PWM_ROCKCHIP=y
 CONFIG_RAM_ROCKCHIP_LPDDR4=y
-CONFIG_BAUDRATE=1500000
+CONFIG_BAUDRATE=115200
 CONFIG_DEBUG_UART_SHIFT=2
 CONFIG_SYS_NS16550_MEM32=y
 CONFIG_SYSRESET=y
