--- u-boot-2022.10.orig/configs/bananapi_m2_p2_zero_defconfig	1970-01-01 00:00:00.000000000 +0100
+++ u-boot-2022.10/configs/bananapi_m2_p2_zero_defconfig	2022-12-25 07:59:45.852731211 +0100
@@ -0,0 +1,15 @@
+CONFIG_ARM=y
+CONFIG_ARCH_SUNXI=y
+# CONFIG_DEFAULT_DEVICE_TREE="sun8i-h3-bananapi-m2-plus-v1.2"
+CONFIG_DEFAULT_DEVICE_TREE="sun8i-h2-plus-bananapi-m2-zero"
+CONFIG_SPL=y
+CONFIG_MACH_SUN8I_H3=y
+CONFIG_DRAM_CLK=408
+CONFIG_MMC0_CD_PIN=""
+CONFIG_MMC_SUNXI_SLOT_EXTRA=2
+# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
+CONFIG_PREBOOT=""
+# CONFIG_SYS_DEVICE_NULLDEV is not set
+CONFIG_SPL_STACK=0x8000
+CONFIG_SYS_PBSIZE=1024
+CONFIG_SUN8I_EMAC=y
